region                         = "us-east-1"
eks_cluster_security_group     = "project03-eks-cluster-security-group"
eks_cluster_role               = "project03-eks-role"
eks_cluster_name               = "project03-eks"
eks_worker_node_security_group = "project03-eks-work-node-security-group"
eks_worker_node_role           = "project03-eks-worker-node-role"
eks_worker_node_name           = "project03-eks-worker-node"
git_repository_url             = "https://github.com/taidt/project03-operationalizing-a-coworking-space-microservice"
github_personal_access_token   = "your github personal access token"
codebuild-ecr-role             = "project03-cb-ecr-role"
